body {
    margin-left: 45px;
    margin-right: 45px;
}

h1, h2, h3, h4 {
    font-family: "Sans Serif";
}

hr {
    border: 1px solid #ccc;
}

img {
    max-width: 300px;
    width: 100%;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

textarea {
    width:60%;
    height:400px;
}

.formdiv {
    width: 35%;
    margin: 0px auto;
}
.login_title {
    font-size: 1.3em;
}

.navlinks {
    display: inline-block;
    float: left;
}

.user-menu {
    display: inline-block;
    float: right;
}
